<!-- <div class="chart-container" style="position: relative; height:40vh; width:70vw">    
    <canvas id="canvas"></canvas>    
  </div>   -->
<!-- <mat-toolbar color="Primary-purple"> -->
<mat-toolbar-row>
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>

  <button mat-stroked-button (click)="logout()" style="margin-left: 85%;margin-top: 8px;">
    <h5>Logout</h5>
  </button>

</mat-toolbar-row>

<!-- <mat-toolbar-row>
        <span>SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row> -->
<!-- </mat-toolbar> -->
<mat-sidenav-container>
  <mat-sidenav #sidenav style="width: 35vh;">
    <mat-list>
      <mat-list-item style="color:rgb(206, 104, 9);font-size: 30px;">Analytics</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-nav-list>

      <a mat-list-item (click)=" linkassessment()" style="color:black"> Dashborad </a>
      <a mat-list-item (click)="linkcontent() " style="color:black"> Student Details </a>
      <a mat-list-item (click)="linkmock()"> Teacher Details </a>
      <!-- <a mat-list-item (click)="search_stu()"> Search Student </a> -->
      <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h3 style="text-align: center;">Dashboard</h3>
    <div style="height: 88vh;">

      <!-- <router-outlet></router-outlet> -->
      <mat-grid-list cols="6" rowHeight="250px">
        <mat-grid-tile>
          <mat-card class="example-card">
            <img mat-card-image src="assets/images/4.png" style="width:100px;height:100px;margin-left:15%;margin-top:0px;" alt="Photo of a Shiba Inu">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title style="text-align: center;">Number Of Registration:</mat-card-title>

            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <mat-divider></mat-divider>
              <strong *ngFor="let my of mygett" style="margin-left:52px;font-size:22px;">
                {{ my.total }}
              </strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card-student">
              <img mat-card-image src="assets/images/4.png" style="width:100px;height:100px;margin-left:15%;margin-top:0px;" alt="Photo of a Shiba Inu">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title style="text-align: center;">Number Of Student:</mat-card-title>

            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <mat-divider></mat-divider>
              <strong *ngFor="let my of mygett_stu" style="margin-left:52px;font-size:22px;">
                {{ my.total }}
              </strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card-teacher">
              <img mat-card-image src="assets/images/4.png" style="width:100px;height:100px;margin-left:15%;margin-top:0px;" alt="Photo of a Shiba Inu">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title style="text-align: center;">Number Of Teacher:</mat-card-title>

            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <mat-divider></mat-divider>
              <strong *ngFor="let my of mygett_tea" style="margin-left:52px;font-size:22px;">
                {{ my.total }}
              </strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="example-card-reg-curr">
              <img mat-card-image src="assets/images/4.png" style="width:100px;height:100px;margin-left:15%;margin-top:0px;" alt="Photo of a Shiba Inu">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title style="text-align: center;">Registration currentdate:</mat-card-title>

            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <mat-divider></mat-divider>
              <strong *ngFor="let my of mygett_reg_curr" style="margin-left:52px;font-size:22px;">
                {{ my.total }}
              </strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card-stu-curr">
              <img mat-card-image src="assets/images/4.png" style="width:100px;height:100px;margin-left:15%;margin-top:0px;" alt="Photo of a Shiba Inu">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title style="text-align: center;">Student currentdate:</mat-card-title>

            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <mat-divider></mat-divider>
              <strong *ngFor="let my of mygett_stu_curr" style="margin-left:52px;font-size:22px;">
                {{ my.total }}
              </strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card-tea-curr">
              <img mat-card-image src="assets/images/4.png" style="width:100px;height:100px;margin-left:15%;margin-top:0px;" alt="Photo of a Shiba Inu">
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <mat-card-title style="text-align: center;">Teacher currentdate:</mat-card-title>

            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <mat-divider></mat-divider>
              <strong *ngFor="let my of mygett_tea_curr" style="margin-left:52px;font-size:22px;">
                {{ my.total }}
              </strong>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile>
          <mat-card class="example-card-chart">
              <h5 style="margin-left: 58%;margin-bottom: -0.18%;color:white;">Month</h5>
            <mat-card-header>
              <!-- <div mat-card-avatar class="example-header-image"></div> -->
              <!-- <mat-card-title style="text-align: center;">Monthwise Total No. Of Registration:</mat-card-title> -->

            </mat-card-header>
            <mat-card-content>

              <div *ngIf="chart"
                style="width:400px;height:220px;margin-top:-8%;background-color:#FF6347;border-radius:5px;
                ">
                <canvas id="canvas">{{ chart }}</canvas>
              </div>
            </mat-card-content>
            <h4 style="margin-top: 9%;"> User Chart </h4>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card-b_chart">
            <h5 style="margin-left: 58%;margin-bottom: -0.18%;color:white;">Class</h5>
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <!-- <mat-card-title style="text-align: center;">Monthwise Total No. Of Registration:</mat-card-title> -->

          </mat-card-header>
          <mat-card-content>
            <div *ngIf="b_chart" 
             style="background-color:#FF8C00;width:400px;height:220px;margin-top:-8%;border-radius: 5px;">
              <canvas id="b_canvas">{{ b_chart }}</canvas>
            </div>
          </mat-card-content>
          <h4 style="margin-top: 9%;"> User Chart </h4>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
<!------------------------------------------------------------------------------------>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>