a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: rgb(253, 163, 163);
}
 
.nav-caption{
    display: inline-block;
    padding-left: 6px;
}
/* .grid-container {
    margin: 20px;
  }

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    width: 250px;
    height: 150px;
    margin-left: 10px;
  } */
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  .example-card {
    max-width: 270px;
    height: 250px;
    background-color: white;
    margin-left: 15px;
    margin-top: -72%;
  }
  .example-card-student {
    max-width: 270px;
    height: 250px;
    background-color: white;
    margin-left: 8px;
    margin-top: -62%;
    margin-bottom: 15px;
  }
  .example-card-teacher {
    max-width: 270px;
    height: 250px;
    background-color: white;
    margin-left: 8px;
    margin-top: -62%;
    margin-bottom: 10px;
  }
  .example-card-reg-curr {
    max-width: 270px;
    height: 250px;
    background-color: white;
    margin-left: 8px;
    margin-top: -62%;
    margin-bottom: 5px;
  }
  .example-card-stu-curr {
    max-width: 270px;
    height: 250px;
    background-color: white;
    margin-left: 8px;
    margin-top: -62%;
    margin-bottom: -1px;
  }
  .example-card-tea-curr {
    max-width: 270px;
    height: 250px;
    background-color: white;
    margin-left: 8px;
    margin-right:2px;
    margin-top: -62%;
    margin-bottom: 3px;
  }
  .example-card-chart {
    max-width: 430px;
    height: 320px;
    /* background-color: #FF8C00; */
    margin-top: 5%;
    margin-left: 2%;
    /* margin-left: 8px;
    margin-right:2px;
    margin-top: 20%;
    margin-bottom: 3px; */
  }
  .example-card-b_chart {
    max-width: 430px;
    height: 320px;
    /* background-color: #FF8C00; */
    margin-top: 2%;
    margin-left: 2%;
    /* margin-left: 8px;
    margin-right:2px;
    margin-top: 20%;
    margin-bottom: 3px; */
  }

 