<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<!----------------------------------------container-fluid-------------------------------------------->
<div class="container-fluid">
  <!----------------------------------------container-md border---------------------------------------->
  <div class="container-md border">
  <!----------------------------------------row-fluid-------------------------------------------------->
  <div class="row-fluid">
    <!---------------------------------------- cover image ---------------------------------------->
    <div class="col-xl-8 col-lg-9 col-md-5 " id="img">
      <img src="assets/images/download.png" height="204px" style="margin-top:15%;margin-left:10%;"/>
    </div>
    <!---------------------------------------- cover image ---------------------------------------->

    <!----------------------------------------- login details ---------------------------------------->
    <div class="col-xl-4 col-lg-3 col-md-7 " id="login" style="height:550px;">
        <h2 style="text-align: center;margin-top:20%;color: black;">
          Sign In To Communication Portal
        </h2>
        <p
          style="margin-left:8%;margin-top:10%;background-color:rgba(0, 0, 0, 0);"
        >
          <mat-form-field
            appearance="outline"
            style="width: 95%;height: 8em;color: black;margin-top:3%;margin-left:-6%;"
          >
            <mat-label><b>Enter your username</b></mat-label>
            <input
              matInput
              placeholder=""
              name="username"
              [(ngModel)]="username"
              id="username"
              required
              style="text-decoration-color: black;color: black;"
            />
            <mat-icon matPrefix>account_circle</mat-icon>
          </mat-form-field>
        </p>
        <p style="margin-left:8%;">
          <mat-form-field
            appearance="outline"
            style="width: 95%;height: 100%;color: black;margin-top:-4%;margin-left:-6%;"
          >
            <mat-label><b>Enter your Password</b></mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              name="password"
              id="password"
              placeholder=""
              name="password"
              [(ngModel)]="password"
              required
              style="text-decoration-color: black;color: black;"
            />
            <mat-icon
              matPrefix
              (click)="hide = !hide"
              style="text-decoration:none;"
            >
              {{ hide ? "visibility_off" : "visibility" }}</mat-icon
            >
          </mat-form-field>
        </p>
        <button
          type="uname"
          mat-stroked-button
          (click)="getLogin()"
          style="background-color: #ebecf1;width: 89%;height:3em;margin-left:2%;color:black;margin-top:3%;"
        >
          Login
        </button>
      <p style="text-align:center;"></p>
    </div>
    <!----------------------------------------- login details ---------------------------------------->
  </div>
  <!----------------------------------------row-fluid-------------------------------------------------->
  </div>
   <!----------------------------------------container-md border---------------------------------------->
</div>
<!----------------------------------------container-fluid-------------------------------------------->

  