.container-fluid{
  background-color: #ebecf1;
  margin:0;
  padding:0;
  height:650px;
  width:100%;
}
.container-md {
  background-color: #fff;
  margin-top:3%;
  height:550px;
  width:80%;
}

/*-------------------------------------------- Responsive Web Design ----------------------------------------*/

@media (max-width: 575.98px) {
  #img {
    width: 50%;
    margin: 0;
  }
  #login {
    text-align: center;
    background: transparent;
    background-color: #fff;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #img {
    width: 75%;
    margin: 0;
  }
  #login {
    width: 25%;
    margin: 0;
    text-align: center;
    background-color: #fff;
  }
}

@media screen and (max-width: 1060px) {
  #img {
    width: 67%;
    margin: 0;
  }
  #login {
    width: 30%;
    margin-left: 3%;
    background-color: #fff;
  }
}

@media screen and (max-width: 768px) {
  #img {
    width: 100%;
    margin: 10%;
  }
  #login {
    width: 100%;
    margin: 0;
    border: none;
    background-color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #img {
    width: 75%;
    margin: 0;
  }
  #login {
    width: 22%;
    background-color: #fff;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #img {
    width: 70%;
    margin: -10%;
  }
  #login {
    width: 25%;
    background-color: #fff;
  }
}

@media (min-width: 1200px) {
  #img {
    width: 70%;
    margin: 0;
  }
  #login {
    width: 29%;
    background-color: #fff;
  }
}

@media (min-width: 1400px) {
  #img {
    width: 70%;
    margin: 0;
  }
  #login {
    width: 30%;
    background-color: #fff;
  }
}

@media (min-width: 1800px) {
  #img {
    width: 70%;
    margin: 0;
  }
  #login {
    width: 30%;
    background-color: #fff;
  }
}

@media (min-width: 2100px) {
  #img {
    width: 70%;
    margin: 0;
  }
  #login {
    width: 30%;
    background-color: #fff;
  }
}

@media (min-width: 2500px) {
  #img {
    width: 70%;
    margin: 0;
  }
  #login {
    width: 30%;
    background-color: #fff;
  }
}

@media (min-width: 640px) {
  body {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  body {
    font-size: 1.2rem;
  }
}
@media (min-width: 1100px) {
  body {
    font-size: 1.5rem;
  }
}

/*----------------------------------------- Responsive Web Design -----------------------------------------*/

/* form field color */
/* .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick  {
    color: yellow !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color:yellow !important;
}

.mat-form-field-appearance-outline.mat-focused.mat-form-filed-outline-thick{
    color:yellow !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: yellow !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    opacity: 1 !important;
} */

/* form field color */
